<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BijBenjamin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7528FECD1EC3197D00FB7FBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7528FEE11EC3197E00FB7FBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7528FEEC1EC3197E00FB7FBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
